
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <h2>About Us</h2>
                            <p>Khách hàng là thượng đế !!</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>Follow us</h2>
                            <ul class="flow-us-link">
                                <li><a href="https://www.facebook.com/longngungok/"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Về chúng tôi</h2>
                                        @Html.Action("ListPage","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hỗ trợ và mua hàng : 0932053251</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="https://www.google.com/maps?ll=10.746155,106.590298&z=15&t=m&hl=vi&gl=US&mapclient=embed&cid=12472194441128054422"><i class="fa fa-angle-double-right"></i>Địa chỉ : Khu công nghiệp Tân Tạo , Quận Bình Tân</a></li>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8485232592375!2d106.58810961557535!3d10.746155392342088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752dae81e20ab9%3A0xad1622c3810a0e96!2zS2h1IEPDtG5nIG5naGnhu4dwIFTDom4gVOG6oW8!5e0!3m2!1svi!2s!4v1626275829774!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>